@using AlquilerApp.Models

<div>
    @await Html.PartialAsync("Details", new ViewDataDictionary(ViewData) {
    { "model", new List<CarsDescription>() } // pass an empty list as the model
    })
</div>
