@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<<<<<< HEAD

<div class="text-center">

    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

@Html.Partial("Test")
</div>
=======
<div class="container-fluid">
    <div>
        <!-- reederizado de vista parcial: _LayoutPickerDate--></>
        <partial name="_LayoutDatePicker"/>
    </div>
    <div>
        <!-- reederizado de vista parcial: _LayoutCoches + JavaScript for filtering data--></>
        <partial name="_LayoutDataCars" />
    </div>
</div>
>>>>>>> a849c6ae235f3ef6b30acd7de66e5e03e3c6b435
