@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div>
        <!-- reederizado de vista parcial: _LayoutPickerDate--></>
        <partial name="_LayoutDatePicker" />
    </div>
    <div>
        <!-- reederizado de vista parcial: _LayoutCoches + JavaScript for filtering data--></>
        <partial name="_LayoutDataCars"/>
>    </div>
</div>